<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
   <script src="../Scripts/main.js"></script>
   <link rel="stylesheet" href="../Styles/app.css">
   <title>Main Page</title>
</head>
<body>
   <div id="page"><%= page %></div>
   <div id="msg">
      <h1><%= name %>!</h1>
      <div class="navver_cont">
      <button class="naver" onclick="pageUp()">></button>
      </div>
      <div id="history_msg">
      </div>
      <div>
         <ul id="messages">
            <% for (let i = 0; i < messages.length; i++) { %>
               <% let message = messages[i]; %>
               <li class="<%= message.user == name ? 'user2' : 'user' %>">
                  <%= message.message %>
               </li>
            <% } %>
         </ul>
      </div>
      <div id="sendmsg">
         <input id="msg_inp" type="text" name="msg" placeholder="Enter message">
         <input id="room" type="hidden" name="room" value="<%= room %>">
         <input type="submit" value="<" onclick="send()">
      </div>
      <form id="logout_btn"action="/logout" method="post">
         <input type="submit" value="Logout"></input>
      </form>
   </div>
</body>
</html>  